@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    background-color: #fffdd0;
}

.fish-container, .bugs-container {
    display: flex;
    padding: 20px 50px;
}

header {
    display: flex;
    align-items: flex-end;
}

.logo {
    height: 150px;
    width: 150px;
    padding: 10px;
    position: absolute;
    right: 50px;
    top: 10px;
}

.nav-link {
    background-color:#fffef2;
}

.nav-link.active {
    background-color: #05899b;
}

.nav-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.nav {
    padding-left: 15px;
    padding-top: 10px;
}

.wrapper {
    background-color:#fffef2;
    border-style: solid;
    border-color:rgb(138, 124, 99) ;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 2px;
    padding: 3px 3px;
}

.uncaughtFishImage, .uncaughtBugImage {
    height: 64px;
    width: 64px;
    opacity: 0.23;
}

img.caughtBugImage, img.caughtFishImage {
    height: 64px;
    width: 64px;
    opacity: 1;
}

.btn.btn-primary {
    background-color: #05899b;
    border: none;
    font-family: 'Noto Sans', sans-serif;
}

.btn.btn-secondary {
    background-color:rgb(138, 124, 99);
    border: none;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    color:rgb(138, 124, 99);
    padding: 10px;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    color:rgb(138, 124, 99);
    padding: 10px;
    font-size: 15px;
    text-align: right;
}

.instructions {
    width: 500px;
    height: 100px;
    position: absolute;
    right: 200px;
    top: 20px;
    padding: 10px;
}

.modal-title, .modal-body {
    font-family: 'Noto Sans', sans-serif;
    color:rgb(138, 124, 99)
}
